@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margine: 0 auto;
  padding-top: 60px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #333;
  background-color: #fff;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  font-family: "Open Sans", sans-serif;
  color: #e2e2e2;
  padding-top: 2px;
}

.img {
  background-image: url(img/portrait.jpg);
  background-size: cover;
}

a.btn {
  display: inline-block;
  margin: 100px 40px 0;
  padding: 2em 5em;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  background-color: #ffb3e5;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #ffb3e5;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
}

a.btn:hover, a.btn:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff9adc;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -moz-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -o-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  -moz-animation: gelatine 0.5s 1;
  -o-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

a.btn-secondary {
  background: #8facd1;
  box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #8facd1;
}

a.btn-secondary:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #7d9fca;
}

a.btn:active,
a.btn-secondary:active {
  background: #4ECDC4;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3ac7bd;
}

@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
