$color-bg: #fff !default;
$color-btn: #ffb3e5 !default;
$color-btn-secondary:#8facd1 ;
$color-btn-active: #4ECDC4 !default;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$helvetica: Helvetica, Arial, sans-serif;
$opensans: 'Open Sans', sans-serif